<ion-view view-title="Configura tu Forecast">
  <ion-content>
    
    <div class="list card">
      <div class="item item-divider">Seleccione la temperatura:</div>
      <div class="item item-body">
        <div>
          <div class="list">

 <label class="item item-radio">
    <input type="radio" name="group" ng-model="isChecked" ng-click="celcius()">
    <div class="item-content">
      Celcius
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
    <input type="radio" name="group" ng-click="kelvin()">
    <div class="item-content">
      Kelvin
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
    <input type="radio" name="group" ng-click="fahrenheit()">
    <div class="item-content">
      Farenheit
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>

</div>
        </div>
      </div>
    </div>

<div class="list card">
      <div class="item item-divider">Elija el día</div>
      <div class="item item-body">
        <div>

    <label class="item item-radio">
    <input type="radio" name="group" ng-model="isChecked" ng-click="uno()">
    <div class="item-content">
      Un día
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
    <input type="radio" name="group" ng-click="dos()">
    <div class="item-content">
      Dos días
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
    <input type="radio" name="group" ng-click="tres()">
    <div class="item-content">
      Tres Días
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
      <label class="item item-radio">
    <input type="radio" name="group" ng-click="cuatro()">
    <div class="item-content">
      Cuatro Días
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>  
    <label class="item item-radio">
    <input type="radio" name="group" ng-click="cinco()">
    <div class="item-content">
      Cinco Días
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>  
    <!--<label class="item item-radio">
    <input type="radio" name="group" ng-click="seis()">
    <div class="item-content">
      Seis Días
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>  
    <label class="item item-radio">
    <input type="radio" name="group" ng-click="siete()">
    <div class="item-content">
      Siete Días
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>-->
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Elija una ciudad</div>
      <div class="item item-body">
        <div>
            <label class="item item-radio">
    <input type="radio" name="group" ng-model="isChecked" ng-click="cancun()">
    <div class="item-content">
      Cancún
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
    <input type="radio" name="group" ng-click="mexico()">
    <div class="item-content">
      México
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
    <input type="radio" name="group" ng-click="venecia()">
    <div class="item-content">
      Venecia
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
    <input type="radio" name="group" ng-click="tuscania()">
    <div class="item-content">
      Tuscania
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
     <label class="item item-radio">
    <input type="radio" name="group" ng-click="paris()">
    <div class="item-content">
      Paris
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
